@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, header, div {
  margin: 0;
  padding: 0;
}


main {
  background-color: antiquewhite;
}

.canvas {
  display: none;
}

.content{
  background-color: aqua;
}